<div class="w-full flex bg-[#58D5D3]/20">
  <div class="w-1/5"></div>
  <div class="w-3/5 h-[100vh] bg-cyan-50 shadow-md whitespace-nowrap overflow-y-auto">
    
    <div class="flex items-center border-b border-slate-950">
      <div>
        <img src="assets/Logo.png" class="h-[8rem]" alt=""/>
      </div>
      <div class="tracking-widest text-semibold text-2xl">
        Gestão de Candidatos e Habilidades
      </div>
    </div>

    <div class="bg-white py-4">
      <div class="px-4 sm:px-6 lg:px-8 shadow-sm">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-base font-semibold leading-6 text-gray-900">Habilidades do Candidato</h1>
            <div *ngIf="candidate.id" class="mt-2">
              <p class="text-sm font-medium text-gray-900"> Nome: {{ candidate.fullname }}</p>
              <p class="text-sm text-gray-700">Email: {{ candidate.email }}</p>
            </div>
          </div>
          <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            
          </div>
        </div>

        <div class="mt-8 flow-root">
          <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle">
              <table class="min-w-full border-separate border-spacing-0">
                <thead>
                  <tr>
                    <th class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900">Habilidade</th>
                    <th class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Nível</th>
                    <th class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-3 pr-4" colspan="2">
                      <span class="sr-only">Actions</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-slate-50">
                  <tr *ngFor="let skill of skills">
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900">{{ skill.skillName }}</td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ skill.level }}</td>
                    <td class="relative whitespace-nowrap py-4 pr-4 pl-3 text-right text-sm font-medium">
                      <a href="#" class="text-[#58D5D3] hover:text-[#58D5D3]/70 hover:bg-black/10 hover:rounded-full p-2">
                        
                      </a>
                    </td>
                    <td class="relative whitespace-nowrap py-4 pr-4 pl-3 text-right text-sm font-medium">
                      <a href="#" class="text-[#58D5D3] hover:text-[#58D5D3]/70 hover:bg-black/10 hover:rounded-full p-2">
                        
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="skills.length === 0" class="text-center py-8">
                <p class="text-sm text-gray-500">Nenhuma habilidade cadastrada.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6 flex items-start justify-end gap-x-6">
        <button type="button" [routerLink]="['/candidates/list']"  class="text-sm px-6 font-semibold leading-6 text-gray-900">
            Voltar
        </button>
      </div>
    </div>
    
  </div>
  <div class="w-1/5"></div>
</div>